<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
		<td class="theHero" style="font-size:0px; line-height:0px;">
			<img src="imgs/hero.jpg" width="600" alt="woman laying in bed" border="0" style="width:100%;height:auto;display:block;"/>
		</td>
	</tr>  
</table>
<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
	 <td bgcolor="#25abdb" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
			<table width="100%" style="border-spacing:0;font-family: Arial, sans-serif; color:#333333;" >
				 <tr>
						<td class="body-text" style="padding-top:20px;padding-bottom:20px;padding-right:40px;padding-left:40px;width:100%;text-align:center;font-family: Arial, sans-serif; color: #ffffff; font-size: 28px; background-color:#25abdb;" >
							 <p class="h1" style="Margin:0; line-height: 30px; font-weight:bold; color:#ffffff;Margin-bottom:20px;">Respirez plus facilement tout au long de l&#8217;ann&#233;e</p> 
							 
							 <p style="Margin:0; color: #000000; font-size:20px; line-height:22px; Margin-bottom:20px;"><strong>Demandez &#224; voir un sp&#233;cialiste et prenez le dessus sur les allergies aux acariens de la poussi&#232;re</strong></p>
						</td>
				 </tr>
			</table>
		</td>
	</tr>
</table>
<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
	 <td bgcolor="#ffffff" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
			<table width="100%" style="border-spacing:0;font-family: Arial, sans-serif; color:#333333;" >
				 <tr>
						<td class="body-text" style="padding-top:20px;padding-bottom:20px;padding-right:40px;padding-left:40px;width:100%;text-align:center;font-family: Arial, sans-serif; color: #25abdb; font-size: 17px; background-color:#ffffff;" >
							 <p class="h1" style="Margin:0; line-height: 19px; font-weight:bold; color:#25abdb; Margin-bottom:20px;">Qu&#8217;est-ce que l&#8217;immunoth&#233;rapie allerg&#233;nique?</p> 
							 
							 <p style="Margin:0; color: #4c4d4e; font-size:17px; line-height:20px; Margin-bottom:10px;">L&#8217;immunoth&#233;rapie allerg&#233;nique a pour but d&#8217;habituer le syst&#232;me immunitaire &#224; &#234;tre moins sensible &#224; certains allerg&#232;nes. L&#8217;exposition progressive &#224; un extrait d&#8217;allerg&#232;ne peut, au fil du temps, rendre tol&#233;rant &#224; cet allerg&#232;ne, ce qui aide &#224; soulager les sympt&#244;mes d&#8217;allergies caus&#233;s par les allerg&#232;nes int&#233;rieurs.</p>
						</td>
				 </tr>
			</table>
		</td>
	</tr>
</table>
<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
	 <td bgcolor="#25abdb" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
			<table width="100%" style="border-spacing:0;font-family: Arial, sans-serif; color:#333333;" >
				 <tr>
						<td class="body-text" style="padding-top:20px;padding-bottom:20px;padding-right:40px;padding-left:40px;width:100%;text-align:center;font-family: Arial, sans-serif; color: #ffffff; font-size: 25px; background-color:#25abdb;" >
							 <p class="h1" style="Margin:0; line-height: 27px; font-weight:bold; color:#ffffff;Margin-bottom:20px;">Par injection ou par la&nbsp;bouche</p> 
							 
							 <p style="Margin:0; color: #000000; font-size:17px; line-height:19px; Margin-bottom:10px;"><strong>Il existe deux types d&#8217;immunoth&#233;rapie permettant de r&#233;duire les signes et les sympt&#244;mes d&#8217;allergies&nbsp;:</strong></p>
						</td>
				 </tr>
			</table>
		</td>
	</tr>
</table>
<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
		<td class="theHero" style="font-size:0px; line-height:0px;">
			<img src="imgs/types-fr.jpg" width="600" alt="es injections administr&#233;es par votre m&#233;decin OU Des comprim&#233;s sublinguaux &#224; administration orale (sous la langue) pris &#224; domicile." border="0" style="width:100%;height:auto;display:block;"/>
		</td>
	</tr>  
</table>
<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
	 <td bgcolor="#ffffff" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
			<table width="100%" style="border-spacing:0;font-family: Arial, sans-serif; color:#333333;" >
				 <tr>
						<td class="body-text" style="padding-top:20px;padding-bottom:20px;padding-right:40px;padding-left:40px;width:100%;text-align:center;font-family: Arial, sans-serif; color: #25abdb; font-size: 17px; background-color:#ffffff;" >
							 <p class="h1" style="Margin:0; line-height: 19px; font-weight:bold; color:#25abdb; Margin-bottom:20px;">L&#8217;immunoth&#233;rapie allerg&#233;nique me convient-elle?</p> 
							 
							 <p style="Margin:0; color: #4c4d4e; font-size:17px; line-height:20px; Margin-bottom:10px;">Si vous avez pris des m&#233;dicaments tels que des antihistaminiques ou des corticost&#233;ro&#239;des pour inhalation nasale, mais que vous pr&#233;sentez encore des sympt&#244;mes, il se pourrait que&nbsp;oui.</p>

							 <p style="Margin:0; color: #4c4d4e; font-size:17px; line-height:20px; Margin-bottom:10px;">Un allergologue d&#233;terminera si l&#8217;immunoth&#233;rapie vous convient. Obtenez un rendez-vous par l&#8217;entremise de votre m&#233;decin de&nbsp;famille.</p>
						</td>
				 </tr>
			</table>
		</td>
	</tr>
</table>
<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
	 <td bgcolor="#f3f3f3" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
			<table width="100%" style="border-spacing:0;font-family: Arial, sans-serif; color:#4c4d4e;" >
				 <tr>
					 <td align="center" style="font-size:0px; line-height:0px; padding-top:40px;"><img src="imgs/yes-fr.jpg" width="207" alt="" border="0" style="width:207px;max-width:207px;height:auto;"/></td>
				 </tr>
				 <tr>
						<td class="body-text" style="padding-top:20px;padding-bottom:20px;padding-right:40px;padding-left:40px;width:100%;text-align:center;font-family: Arial, sans-serif; color: #4c4d4e; font-size: 17px; background-color:#f3f3f3;" >
							 
							<p class="h1" style="Margin:0; line-height: 19px; font-weight:bold; color:#4c4d4e; Margin-bottom:20px;">Je veux &#234;tre orient&#233;(e) vers un allergologue pour d&#233;terminer si l&#8217;immunoth&#233;rapie allerg&#233;nique me&nbsp;convient.</p> 
							 
							 <p style="Margin:0; color: #4c4d4e; font-size:17px; line-height:20px; Margin-bottom:10px;">Parlez de ce courriel &#224; votre m&#233;decin de famille lors de votre prochaine&nbsp;visite.</p>
						</td>
				 </tr>
				 <tr>
						<td align="right" style="font-size:0px; line-height:0px; padding-bottom:40px; padding-right:40px;"><img src="imgs/asc-fr.jpg" width="47" alt="" border="0" style="width:47px;max-width:47px;height:auto;"/></td>
					</tr>
			</table>
		</td>
	</tr>
</table>