<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
		<td class="theHero" style="font-size:0px; line-height:0px;">
			<img src="imgs/hero.jpg" width="600" alt="" border="0" style="width:100%;height:auto;display:block;"/>
		</td>
	</tr>  
</table>
<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
	 <td bgcolor="#a9ba27" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
			<table width="100%" style="border-spacing:0;font-family: Arial, sans-serif; color:#333333;" >
				 <tr>
						<td class="body-text" style="padding-top:20px;padding-bottom:20px;padding-right:40px;padding-left:40px;width:100%;text-align:center;font-family: Arial, sans-serif; color: #ffffff; font-size: 28px; background-color:#a9ba27;" >
							 <p class="h1" style="Margin:0; line-height: 30px; font-weight:bold; color:#ffffff;Margin-bottom:20px;">Dreading a repeat of last allergy&nbsp;season?</p> 
							 
							 <p style="Margin:0; color: #4c4d4e; font-size:20px; line-height:22px; Margin-bottom:20px;">Speak to your doctor to see if<br>allergy immunotherapy is right for&nbsp;you</p>
						</td>
				 </tr>
			</table>
		</td>
	</tr>
</table>
<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
	 <td bgcolor="#ffffff" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
			<table width="100%" style="border-spacing:0;font-family: Arial, sans-serif; color:#333333;" >
				 <tr>
						<td class="body-text" style="padding-top:20px;padding-bottom:20px;padding-right:40px;padding-left:40px;width:100%;text-align:center;font-family: Arial, sans-serif; color: #a9ba27; font-size: 17px; background-color:#ffffff;" >
							 <p class="h1" style="Margin:0; line-height: 19px; font-weight:bold; color:#a9ba27; Margin-bottom:20px;">What is allergy&nbsp;immunotherapy?</p> 
							 
							 <p style="Margin:0; color: #4c4d4e; font-size:17px; line-height:20px; Margin-bottom:10px;">The goal of allergy immunotherapy is to train the body's immune system to be less sensitive to specific allergens. Gradual exposure to an allergen extract over time can build up a tolerance, which helps provide relief from in-season allergy&nbsp;symptoms.</p>
						</td>
				 </tr>
			</table>
		</td>
	</tr>
</table>
<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
	 <td bgcolor="#a9ba27" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
			<table width="100%" style="border-spacing:0;font-family: Arial, sans-serif; color:#333333;" >
				 <tr>
						<td class="body-text" style="padding-top:20px;padding-bottom:20px;padding-right:40px;padding-left:40px;width:100%;text-align:center;font-family: Arial, sans-serif; color: #ffffff; font-size: 25px; background-color:#a9ba27;" >
							 <p class="h1" style="Margin:0; line-height: 27px; font-weight:bold; color:#ffffff;Margin-bottom:20px;">Roll up your sleeve or roll up your&nbsp;tongue</p> 
							 
							 <p style="Margin:0; color: #4c4d4e; font-size:17px; line-height:19px; Margin-bottom:10px;">There are two types of immunotherapy available to reduce the signs and symptoms of&nbsp;allergies:</p>
						</td>
				 </tr>
			</table>
		</td>
	</tr>
</table>
<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
		<td class="theHero" style="font-size:0px; line-height:0px;">
			<img src="imgs/types.jpg" width="600" alt="Injections from your doctor OR Oral sublingual tablets (placed under the tongue) taken at home." border="0" style="width:100%;height:auto;display:block;"/>
		</td>
	</tr>  
</table>
<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
	 <td bgcolor="#ffffff" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
			<table width="100%" style="border-spacing:0;font-family: Arial, sans-serif; color:#333333;" >
				 <tr>
						<td class="body-text" style="padding-top:20px;padding-bottom:20px;padding-right:40px;padding-left:40px;width:100%;text-align:center;font-family: Arial, sans-serif; color: #a9ba27; font-size: 17px; background-color:#ffffff;" >
							 <p class="h1" style="Margin:0; line-height: 19px; font-weight:bold; color:#a9ba27; Margin-bottom:20px;">Am I candidate for allergy&nbsp;immunotherapy?</p> 
							 
							 <p style="Margin:0; color: #4c4d4e; font-size:17px; line-height:20px; Margin-bottom:10px;">If you've taken medications such as antihistamines or nasal steroids, but still experience symptoms, the answer could be&nbsp;yes.</p>

							 <p style="Margin:0; color: #4c4d4e; font-size:17px; line-height:20px; Margin-bottom:10px;">An Allergist will determine if you're an appropriate candidate for immunotherapy, so you should book an appointment through your family&nbsp;doctor.</p>
						</td>
				 </tr>
			</table>
		</td>
	</tr>
</table>
<table class="autoWidth" border="0" cellspacing="0" cellpadding="0" style="width:600px" width="600">
	<tr>
	 <td bgcolor="#f3f3f3" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
			<table width="100%" style="border-spacing:0;font-family: Arial, sans-serif; color:#4c4d4e;" >
				 <tr>
					 <td align="center" style="font-size:0px; line-height:0px; padding-top:40px;"><img src="imgs/yes.jpg" width="207" alt="" border="0" style="width:207px;max-width:207px;height:auto;"/></td>
				 </tr>
				 <tr>
						<td class="body-text" style="padding-top:20px;padding-bottom:20px;padding-right:40px;padding-left:40px;width:100%;text-align:center;font-family: Arial, sans-serif; color: #4c4d4e; font-size: 17px; background-color:#f3f3f3;" >
							 
							<p class="h1" style="Margin:0; line-height: 19px; font-weight:bold; color:#4c4d4e; Margin-bottom:20px;">I want a referral to an Allergist to see if allergy immunotherapy is right for&nbsp;me.</p> 
							 
							 <p style="Margin:0; color: #4c4d4e; font-size:17px; line-height:20px; Margin-bottom:10px;">Speak with your family doctor about this email at your next&nbsp;visit.</p>
						</td>
				 </tr>
				 <tr>
						<td align="right" style="font-size:0px; line-height:0px; padding-bottom:40px; padding-right:40px;"><img src="imgs/asc.jpg" width="47" alt="" border="0" style="width:47px;max-width:47px;height:auto;"/></td>
					</tr>
			</table>
		</td>
	</tr>
</table>